# Laravel padrão
/vendor
/node_modules
/public/storage
/public/hot
/public/build
/storage/*.key
/storage/pail
/storage/logs
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/app/public
/bootstrap/cache/*.php

# Arquivos sensíveis e de ambiente
.env
.env.*
.env.backup
.env.production
.auth.json
Homestead.json
Homestead.yaml
composer.lock
.phpunit.result.cache
/.phpunit.cache

# Docker
docker-compose.override.yml
docker-compose.local.yml
docker-compose.dev.yml
docker-compose.prod.yml
docker-compose.*.yml
.docker/
.dockerignore
docker-data/

# Node e JS
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock

# IDEs e ferramentas
.idea/
.vscode/
.fleet/
.zed/
.nova/
.phpactor.json
.phpstorm.meta.php

# Sistema e temporários
*.log
*.tmp
*.bak
*.swo
*.swp
*.DS_Store
*.Thumbs.db

# Testes e cobertura
coverage/
